.cabecalhoLista {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  /* align-items: center; */
  background-color: #0d6efd;
  justify-content: center;
}
.cabecalhoLista div {
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 15px;
}
.cabecalhoLista div a:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nameLista {
  display: flex;
}

.nameMenu {
  font-size: 24px;
  display: inline-flex;
  color: white;
  padding-top: 5px;
}
* {
  list-style-type: none;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 2rem auto;
  background-color: #e8f1f2;
  border-radius: 10px;
}
.container2 {
  padding: 10px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.containerTeste {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.infoCliente {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}

h4 {
  font-size: 1.8rem;
}

.testedo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerSections {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
}

.sectionsIndex {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  display: flex;
  background-color: #e8f1f2;
  border-radius: 15px;
  flex-direction: column;
}
