* {
  list-style-type: none;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 2rem auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
h4 {
  font-size: 1.8rem;
}

.testedo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 {
  padding: 10px;
}
.break {
  flex-basis: 100%;
  height: 0;
}

.infoCliente {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}
.testando a:hover {
  cursor: pointer;
}

h4 {
  font-size: 1.8rem;
}

.cabecalhoLista {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d6efd;
}

.cabecalhoLista div {
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 15px;
}
.cabecalhoLista div a:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nameConta {
  font-size: 24px;
  display: inline-flex;
  color: white;
  padding-top: 5px;
}
* {
  list-style-type: none;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 2rem auto;
  background-color: #e8f1f2;
  border-radius: 10px;
}

.nameListaTodasContas {
  display: flex;
}

.acoes {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

.acoesMobile {
  display: none;
}

@media (max-width: 991px) {
  .acoesMobile {
    display: block;
  }

  .acoes {
    display: none;
  }
}
