<div class="container1">
  <section class="cabecalhoLista">
    <img
      src="../../../../assets/icons/iconsUtils/lista contas1.png"
      width="40px"
      height="35px"
      class="icon"
    />
    <h3 class="nameConta">Contas</h3>
  </section>
  <section class="container2">
    <div style="display: flex; flex-direction: row">
      <h4>Nome do cliente</h4>
      <br />
      <input type="string" value="{{ contas[0].cliente.nome }}" disabled />
      <h4>E-mail do cliente</h4>
      <input value="{{ contas[0].cliente.email }}" disabled />
      <h4>Cpf do cliente</h4>
      <input value="{{ contas[0].cliente.cpf }}" disabled />
    </div>
    <br />
    <h3>Lista de contas:</h3>
    <!-- <div *ngFor="let conta of contas">
      <br />
      <h4>Agência</h4>
      <input
        class="form-control"
        type="string"
        value="{{ conta.agencia }}"
        disabled
      />
      <br />
      <h4>Numero da conta</h4>
      <input
        class="form-control"
        type="string"
        value="{{ conta.numero }}"
        disabled
      />
      <br />
      <h4>Saldo disponivel:</h4>
      <input
        class="form-control"
        type="string"
        value="{{ conta.saldo | currency: 'BRL' }}"
        disabled
      />
    </div> -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID Conta</th>
          <th scope="col">Agência</th>
          <th scope="col">Número</th>
          <th scope="col">Saldo</th>
          <th scope="col" style="text-align: center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conta of contas">
          <th scope="row">{{ conta.id }}</th>
          <td>{{ conta.agencia }}</td>
          <td>{{ conta.numero }}</td>
          <td>{{ conta.saldo | currency: "BRL" }}</td>
          <td>
            <div class="acoes">
              <button
                type="button"
                class="btn btn-success"
                [routerLink]="['/caixa/deposito', conta.id]"
              >
                Deposito
              </button>
              <button
                type="button"
                class="btn btn-success"
                [routerLink]="['/caixa/saque', conta.id]"
              >
                Sacar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="['/caixa/transferencia', conta.id]"
              >
                Transferência
              </button>
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                + Ações
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/contas/editar', conta.id]"
                    >Editar</a
                  >
                </li>
                <li>
                  <a class="dropdown-item">Remover</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
