<h1 style="text-align: center">Bem vindo ao MyBankOnline</h1>
<h3 style="text-align: center">Escolha uma das opções abaixo</h3>
<hr />
<section style="display: flex; justify-content: space-around">
  <div style="text-align: center">
    <h2>Saque</h2>
    <img src="../../../../assets/icons/caixa/saque.png" width="60%" />
    <button
      class="btn btn-success"
      style="display: grid; width: 33%; margin: 0 auto"
      routerLink="/caixa/saque"
      routerLinkActive="Active"
    >
      Sacar
    </button>
  </div>
  <div style="text-align: center">
    <h2>Deposito</h2>
    <img src="../../../../assets/icons/caixa/deposito.png" width="60%" />
    <button
      class="btn btn-success"
      style="display: grid; width: 32%; margin: 0 auto"
      routerLink="/caixa/deposito"
      routerLinkActive="Active"
    >
      Depositar
    </button>
  </div>
  <div style="text-align: center">
    <h2>Transferência</h2>
    <img
      src="../../../../assets/icons/caixa/transacao-de-dinheiro.png"
      width="60%"
    />
    <button
      class="btn btn-success"
      style="display: grid; width: 30%; margin: 0 auto"
      routerLink="/caixa/transferencia"
      routerLinkActive="Active"
    >
      Transferência
    </button>
  </div>
</section>
