.cabecalhoLista {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  /* align-items: center; */
  background-color: #0d6efd;
  justify-content: space-between;
}
.cabecalhoLista div {
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 15px;
}
.cabecalhoLista div a:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.nameListaTodasContas {
  display: flex;
}

.testando a:hover {
  cursor: pointer;
}

.nameConta {
  font-size: 24px;
  display: inline-flex;
  color: white;
  padding-top: 5px;
}
* {
  list-style-type: none;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 2rem auto;
  background-color: rgb(209, 219, 236);
  border-radius: 10px;
}
.container2 {
  padding: 10px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.containerTeste {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}

.infoCliente {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}

h4 {
  font-size: 1.8rem;
}

.testedo {
  display: flex;
  flex-direction: column;
}

.contaInfos {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.infoValor {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
